In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('finanzas-hotel-bookings.csv', index_col = 0)
df.shape

/home/annie/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(182877, 32)

In [4]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['company'].unique()

array([ nan, 110., 270., 240., 154., 144., 307., 268.,  59., 204., 312.,
        94., 174., 223., 317., 281., 274.,  53.,  12.,  47., 324., 342.,
       373., 286., 383.,  86., 113., 397., 392., 331., 367.,  20., 416.,
        51., 395., 102.,  34., 405., 394., 461., 178., 421., 308., 135.,
       504., 269., 498., 390., 195., 513., 203., 263., 477., 521., 169.,
       355., 531.,  62., 120.,  82.,  81., 116., 530., 103.,   9.,  39.,
        92.,  31., 118., 356., 457., 165., 291., 292., 290.,  43., 325.,
       192., 108., 200., 224., 388., 287., 297., 490., 482., 207., 437.,
       329.,  28.,  77.,  42., 338.,  83.,  72., 146., 380., 323., 511.,
        88., 371.,  16., 337., 403., 399., 137., 343., 346., 347., 289.,
       353.,  54., 159., 358., 361.,  99., 366., 372., 365.,  14., 377.,
       379., 378., 330.,  22., 364., 360., 401., 232., 255., 384., 167.,
       212., 514., 391., 376., 402., 396., 398.,   6., 370., 369., 409.,
       251., 168., 112., 382., 148.,  10., 333., 419., 415., 543., 428.,
       442., 445., 282., 448., 443., 454.,  52., 459., 458., 456., 254.,
       460., 447., 466., 484., 184.,  32., 494., 516., 496., 499.,  29.,
       272., 130., 520., 507., 515., 512., 126., 242., 518., 225., 523.,
       277., 539., 534., 436., 470., 525.,  40., 455.,  45.,  38.,  49.,
        48.,  67.,  68.,  84.,  65.,  91.,  37.,   8., 179., 219., 227.,
       186., 153., 218.,  78., 202., 216., 221., 275., 233., 280., 309.,
       321.,  93., 107., 350., 334., 348., 407., 435., 150.,  73., 385.,
       418., 197., 279., 450., 452.,  46.,  76., 100., 115., 105., 122.,
       139., 142., 127., 143., 149., 163., 238., 183., 185., 217., 180.,
       209., 215., 193., 213., 222., 230., 234., 246., 158., 258., 260.,
       257., 271.,  18., 106., 273., 278.,  71., 284., 305., 293., 311.,
       304., 288., 314., 332., 341., 349., 352., 243., 319., 408., 368.,
       393., 220., 412., 420., 410., 426., 417., 429., 444., 433., 446.,
       424., 465., 357., 479., 478., 485., 483., 229., 486., 491., 245.,
       497., 439., 451.])

In [6]:
def exploracion_csv(dataframe):
    print(f"Los duplicados que tenemos en el conjunto de datos son: {dataframe.duplicated().sum()}")
    print("\n ..................... \n")
    # generamos un DataFrame para los valores nulos
    print("Los nulos que tenemos en el conjunto de datos son:")
    df_nulos = pd.DataFrame(dataframe.isnull().sum() / dataframe.shape[0] * 100, columns = ["%_nulos"])
    display(df_nulos[df_nulos["%_nulos"] > 0])
    print("\n ..................... \n")
    print(f"Los tipos de las columnas son:")
    display(pd.DataFrame(dataframe.dtypes, columns = ["tipo_dato"]))
    print("\n ..................... \n")
    print("Los valores que tenemos para las columnas categóricas son: ")
    dataframe_categoricas = dataframe.select_dtypes(include = "O")
    for col in dataframe_categoricas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valores únicos:")
        display(pd.DataFrame(dataframe[col].value_counts()).head())
    print("Los valores que tenemos para las columnas numéricas son: ")
    dataframe_numericas = dataframe.select_dtypes(exclude='O')
    try:
        print("\n ..................... \n")
        print(f"Los principales estadísticos de las columnas categóricas son: ")
        display(dataframe_categoricas.describe(include = "O").T)
    except:
        print('No hay columnas categóricas')
    try:
        print("\n ..................... \n")
        print(f"Los principales estadísticos de las columnas numéricas son: ")
        display(dataframe_numericas.describe().T)
    except:
        print('No hay columnas numéricas')

In [7]:
exploracion_csv(df)

Los duplicados que tenemos en el conjunto de datos son: 63040

 .....................

Los nulos que tenemos en el conjunto de datos son:

                                  %_nulos
hotel                           34.715683
is_canceled                     34.715683
lead_time                       34.661002
arrival_date_year               64.550490
arrival_date_month              34.715683
arrival_date_week_number        44.769435
arrival_date_day_of_month       34.780754
stays_in_weekend_nights         34.661002
stays_in_week_nights            34.661002
adults                          34.694904
children                        62.104584
babies                          34.693264
meal                            34.715683
country                         64.427457
market_segment                  67.227153
distribution_channel            42.092773
is_repeated_guest               37.457417
previous_cancellations          58.317339
previous_bookings_not_canceled  34.715683
reserved_room_type              56.651192
assigned_room_type              34.715683
booking_changes                 34.700372
agent                           43.650650
company                         97.883824
days_in_waiting_list            34.715683
customer_type                   48.490515
adr                             34.715683
required_car_parking_spaces     34.715683
total_of_special_requests       34.715683
reservation_status              34.715683
reservation_status_date         41.756481
0                               76.513722

 .....................

Los tipos de las columnas son:

                               tipo_dato
hotel                             object
is_canceled                       object
lead_time                        float64
arrival_date_year                float64
arrival_date_month                object
arrival_date_week_number         float64
arrival_date_day_of_month        float64
stays_in_weekend_nights          float64
stays_in_week_nights             float64
adults                           float64
children                         float64
babies                           float64
meal                              object
country                           object
market_segment                    object
distribution_channel              object
is_repeated_guest                float64
previous_cancellations           float64
previous_bookings_not_canceled   float64
reserved_room_type                object
assigned_room_type                object
booking_changes                  float64
agent                            float64
company                          float64
days_in_waiting_list             float64
customer_type                     object
adr                              float64
required_car_parking_spaces      float64
total_of_special_requests        float64
reservation_status                object
reservation_status_date           object
0                                 object

 .....................

Los valores que tenemos para las columnas categóricas son:
La columna HOTEL tiene las siguientes valores únicos:

              hotel
City Hotel    79330
Resort Hotel  40060

La columna IS_CANCELED tiene las siguientes valores únicos:

       is_canceled
False        75166
True         44224

La columna ARRIVAL_DATE_MONTH tiene las siguientes valores únicos:

         arrival_date_month
August                13877
July                  12661
May                   11791
October               11160
April                 11089

La columna MEAL tiene las siguientes valores únicos:

            meal
BB         92310
HB         14463
SC         10650
Undefined   1169
FB           798

La columna COUNTRY tiene las siguientes valores únicos:

     country
PRT    26577
GBR     6585
FRA     5756
ESP     4712
DEU     3972

La columna MARKET_SEGMENT tiene las siguientes valores únicos:

               market_segment
Online TA               28331
Offline TA/TO           12116
Groups                  10008
Direct                   6354
Corporate                2643

La columna DISTRIBUTION_CHANNEL tiene las siguientes valores únicos:

           distribution_channel
TA/TO                     86822
Direct                    12997
Corporate                  5899
GDS                         176
Undefined                     5

La columna RESERVED_ROOM_TYPE tiene las siguientes valores únicos:

   reserved_room_type
A               57202
D               12637
E                4345
F                1907
G                1375

La columna ASSIGNED_ROOM_TYPE tiene las siguientes valores únicos:

   assigned_room_type
A               74053
D               25322
E                7806
F                3751
G                2553

La columna CUSTOMER_TYPE tiene las siguientes valores únicos:

                 customer_type
Transient                70610
Transient-Party          19839
Contract                  3290
Group                      460

La columna RESERVATION_STATUS tiene las siguientes valores únicos:

           reservation_status
Check-Out               75166
Canceled                43017
No-Show                  1207

La columna RESERVATION_STATUS_DATE tiene las siguientes valores únicos:

                     reservation_status_date
2015-10-21 00:00:00                     1298
2015-07-06 00:00:00                      732
2016-11-25 00:00:00                      692
2015-01-01 00:00:00                      678
2016-01-18 00:00:00                      562

La columna 0 tiene las siguientes valores únicos:

         0
0.0  12780
2.0   2363
1.0   2121
A     1771
BB    1257

Los valores que tenemos para las columnas numéricas son:

 .....................

Los principales estadísticos de las columnas categóricas son:

                          count unique                  top   freq
hotel                    119390      2           City Hotel  79330
is_canceled              119390      2                False  75166
arrival_date_month       119390     15               August  13877
meal                     119390      5                   BB  92310
country                   65054    163                  PRT  26577
market_segment            59934      8            Online TA  28331
distribution_channel     105899      5                TA/TO  86822
reserved_room_type        79275     10                    A  57202
assigned_room_type       119390     12                    A  74053
customer_type             94199      4            Transient  70610
reservation_status       119390      3            Check-Out  75166
reservation_status_date  106514    991  2015-10-21 00:00:00   1298
0                         42951   1588                  0.0  12780

 .....................

Los principales estadísticos de las columnas numéricas son:

,count,mean,std,min,25%,50%,75%,max
lead_time,119490.0,104.172628,106.975949,0.00,18.00,69.000,161.0,737.000000
arrival_date_year,64829.0,2016.156196,0.706674,2015.00,2016.00,2016.000,2017.0,2017.000000
arrival_date_week_number,101004.0,27.175785,13.613871,1.00,16.00,28.000,38.0,53.000000
arrival_date_day_of_month,119271.0,15.795977,8.780503,1.00,8.00,16.000,23.0,31.000000
stays_in_weekend_nights,119490.0,0.939461,1.082472,0.00,0.00,1.000,2.0,19.914715
stays_in_week_nights,119490.0,2.515068,1.976511,0.00,1.00,2.000,3.0,50.000000
adults,119428.0,6.244423,14.574814,0.00,2.00,2.000,2.0,59.000000
children,69302.0,0.125162,0.688305,0.00,0.00,0.000,0.0,19.000000
babies,119431.0,0.019903,0.433366,0.00,0.00,0.000,0.0,19.000000
is_repeated_guest,114376.0,0.031877,0.175674,0.00,0.00,0.000,0.0,1.000000
previous_cancellations,76228.0,0.109317,1.028093,0.00,0.00,0.000,0.0,26.000000
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.000000
booking_changes,119418.0,0.232737,0.770795,0.00,0.00,0.000,0.0,21.000000
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.000000
company,3870.0,188.828424,131.473039,6.00,62.00,178.000,270.0,543.000000
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.000000
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.000000
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.000000
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.000000

CUSTOMER_TYPE
- Transient: Este segmento incluye a los viajeros individuales o familias que reservan de manera independiente. No forman parte de un grupo o contrato, y su estancia es generalmente de corta duración. Este segmento incluye tanto a viajeros de negocios como de ocio. Las reservas pueden realizarse directamente con el hotel, a través de un agente de viajes, o mediante plataformas de reservas en línea. Los clientes transitorios son a menudo el foco principal de las estrategias de marketing de un hotel debido a su potencial de ingresos y lealtad a la marca.

- Contract: Este segmento se refiere a habitaciones reservadas bajo un contrato entre el hotel y otra entidad (como una empresa, gobierno, aerolínea, etc.). Estos contratos suelen ser a largo plazo y garantizan un cierto número de habitaciones reservadas durante un período prolongado. El precio suele ser negociado y fijo. Este segmento proporciona un flujo de ingresos estable al hotel.

- Group: Este segmento incluye reservas realizadas para un grupo de personas. Puede tratarse de grupos turísticos, conferencias, bodas, eventos corporativos, etc. Las reservas grupales suelen ser manejadas de manera diferente a las individuales, con precios especiales, bloqueo de habitaciones y condiciones de reserva específicas. Este segmento puede ser una fuente significativa de ingresos, especialmente para hoteles que tienen las instalaciones para albergar eventos grandes.
- Transient-Party: Este es un subsegmento menos común y puede referirse a clientes individuales o grupos pequeños que forman parte de un evento más grande o de una reserva grupal pero que se manejan como transitorios. Por ejemplo, en un evento de conferencia, algunos asistentes pueden reservar sus habitaciones de forma independiente en lugar de como parte del bloque de habitaciones del grupo. Estos clientes se consideran transitorios pero están vinculados a un evento o partido grupal.

Eliminación duplicados:

In [8]:
df.duplicated().sum()

63040

In [9]:
df.drop_duplicates(inplace = True)

In [10]:
df.duplicated().sum()

0

In [11]:
def eliminacion_duplicados(dataframe):
    dataframe.drop_duplicates(inplace = True)
    return dataframe

In [12]:
df.shape

(119837, 32)

In [27]:
df['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       '1', 'January', 'February', '2', '3', 'March', 'April', 'May',
       'June', nan], dtype=object)

Gestión de nulos:

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119837 entries, 0 to 182876
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118005 non-null  object
 1   is_canceled                     118005 non-null  object
 2   lead_time                       118105 non-null  float64
 3   arrival_date_year               64023 non-null   float64
 4   arrival_date_month              118005 non-null  object
 5   arrival_date_week_number        99667 non-null   float64
 6   arrival_date_day_of_month       117886 non-null  float64
 7   stays_in_weekend_nights         118105 non-null  float64
 8   stays_in_week_nights            118105 non-null  float64
 9   adults                          118033 non-null  float64
 10  children                        68407 non-null   float64
 11  babies                          118036 non-null  float64
 12  meal                            118005 non-null  object
 13  country                         64251 non-null   object
 14  market_segment                  59240 non-null   object
 15  distribution_channel            104539 non-null  object
 16  is_repeated_guest               112993 non-null  float64
 17  previous_cancellations          75170 non-null   float64
 18  previous_bookings_not_canceled  118005 non-null  float64
 19  reserved_room_type              78198 non-null   object
 20  assigned_room_type              118005 non-null  object
 21  booking_changes                 118026 non-null  float64
 22  agent                           101855 non-null  float64
 23  company                         3849 non-null    float64
 24  days_in_waiting_list            118005 non-null  float64
 25  customer_type                   92912 non-null   object
 26  adr                             118005 non-null  float64
 27  required_car_parking_spaces     118005 non-null  float64
 28  total_of_special_requests       118005 non-null  float64
 29  reservation_status              118005 non-null  object
 30  reservation_status_date         105152 non-null  object
 31  0                               1722 non-null    object
dtypes: float64(19), object(13)
memory usage: 30.2+ MB

In [16]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
(df.isnull().sum() / df.shape[0]) * 100

hotel                              1.528743
is_canceled                        1.528743
lead_time                          1.445297
arrival_date_year                 46.574931
arrival_date_month                 1.528743
arrival_date_week_number          16.831196
arrival_date_day_of_month          1.628045
stays_in_weekend_nights            1.445297
stays_in_week_nights               1.445297
adults                             1.505378
children                          42.916628
babies                             1.502875
meal                               1.528743
country                           46.384673
market_segment                    50.566186
distribution_channel              12.765673
is_repeated_guest                  5.711091
previous_cancellations            37.273129
previous_bookings_not_canceled     1.528743
reserved_room_type                34.746364
assigned_room_type                 1.528743
booking_changes                    1.511219
agent                             15.005382
company                           96.788137
days_in_waiting_list               1.528743
customer_type                     22.468019
adr                                1.528743
required_car_parking_spaces        1.528743
total_of_special_requests          1.528743
reservation_status                 1.528743
reservation_status_date           12.254145
0                                 98.563048
dtype: float64

In [18]:
df['agent'].unique()

array([ nan, 304., 240., 303.,  15., 241.,   8., 250., 115.,   5., 175.,
       134., 156., 243., 242.,   3., 105.,  40., 147., 306., 184.,  96.,
         2., 127.,  95., 146.,   9., 177.,   6., 143., 244., 149., 167.,
       300., 171., 305.,  67., 196., 152., 142., 261., 104.,  36.,  26.,
        29., 258., 110.,  71., 181.,  88., 251., 275.,  69., 248., 208.,
       256., 314., 126., 281., 273., 253., 185., 330., 334., 328., 326.,
       321., 324., 313.,  38., 155.,  68., 335., 308., 332.,  94., 348.,
       310., 339., 375.,  66., 327., 387., 298.,  91., 245., 385., 257.,
       393., 168., 405., 249., 315.,  75., 128., 307.,  11., 436.,   1.,
       201., 183., 223., 368., 336., 291., 464., 411., 481.,  10., 154.,
       468., 410., 390., 440., 495., 492., 493., 434.,  57., 531., 420.,
       483., 526., 472., 429.,  16., 446.,  34.,  78., 139., 252., 270.,
        47., 114., 301., 193., 182., 135., 350., 195., 352., 355., 159.,
       363., 384., 360., 331., 367.,  64., 406., 163., 414., 333., 427.,
       431., 430., 426., 438., 433., 418., 441., 282., 432.,  72., 450.,
       180., 454., 455.,  59., 451., 254., 358., 469., 165., 467., 510.,
       337., 476., 502., 527., 479., 508., 535., 302., 497., 187.,  13.,
         7.,  27.,  14.,  22.,  17.,  28.,  42.,  20.,  19.,  45.,  37.,
        61.,  39.,  21.,  24.,  41.,  50.,  30.,  54.,  52.,  12.,  44.,
        31.,  83.,  32.,  63.,  60.,  55.,  56.,  89.,  87., 118.,  86.,
        85., 210., 214., 129., 179., 138., 174., 170., 153.,  93., 151.,
       119.,  35., 173.,  58.,  53., 133.,  79., 235., 192., 191., 236.,
       162., 215., 157., 287., 132., 234.,  98.,  77., 103., 107., 262.,
       220., 121., 205., 378.,  23., 296., 290., 229.,  33., 286., 276.,
       425., 484., 323., 403., 219., 394., 509., 111., 423.,   4.,  70.,
        82.,  81.,  74.,  92.,  99.,  90., 112., 117., 106., 148., 158.,
       144., 211., 213., 216., 232., 150., 267., 227., 247., 278., 280.,
       285., 289., 269., 295., 265., 288., 122., 294., 325., 341., 344.,
       346., 359., 283., 364., 370., 371.,  25., 141., 391., 397., 416.,
       404., 299., 197.,  73., 354., 444., 408., 461., 388., 453., 459.,
       474., 475., 480., 449.])

Eliminar columnas:
- 0
- Company: Muchos nulos. Nos falta información.

In [19]:
lista_columnas = ['0', 'company']

In [20]:

def eliminar_columas(columna):
    df.drop(columna, axis=1, inplace=True)
    return df

In [21]:
eliminar_columas(lista_columnas)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [46]:
df['stays_in_weekend_nights'].unique()

array([ 0.        ,  1.        ,  2.        ,  4.        ,  3.        ,
        6.        , 13.        ,  8.        ,  5.        ,  7.        ,
       12.        ,  9.        , 16.        , 18.        , 19.        ,
       10.        , 14.        ,         nan, 11.20401583, 17.95858865,
       18.2567912 , 10.54885853, 16.33232084, 13.84595175, 16.80862539,
       11.82216655, 18.86586275, 17.22279014, 12.760956  , 10.15167042,
       10.46332451, 14.91338236, 11.6042344 , 18.52118296, 16.2922789 ,
       14.18553261, 10.80563048, 17.90682685, 17.9040439 , 19.91471478,
       12.23500486, 14.48008431, 19.67205011, 10.14955202, 10.80069687,
       11.98937751, 16.80689813, 12.86282951, 18.44605745, 16.43682263,
       10.12644249, 14.57592838, 11.39086752, 13.20007294, 17.15627062,
       14.98305856, 17.29938584, 17.90252941, 16.22831712, 13.95515743,
       15.32889675, 17.35095681, 13.22234578, 11.90605506, 19.25689048,
       17.43070043, 12.54926869, 11.83209485, 15.78722554, 17.02492003,
       11.40315114, 14.55697847, 14.00625777, 11.05466249, 13.16442302,
       10.23930362, 15.23868679, 18.42035621, 16.08335029, 14.79242931,
       19.55663558, 12.89803072, 15.47483733, 15.0633126 , 12.40148587,
       18.77747638, 13.81006175, 13.68616815, 18.01163962, 16.98171814,
       19.66962536, 19.91294716, 19.21393184, 19.77626639, 13.95243476,
       13.30834322, 17.17636146, 18.03981923, 19.36201984, 16.06563272,
       10.48606185, 14.66062143, 14.90806899, 10.505497  , 19.71149087,
       11.09226823, 15.81066934, 15.42124553, 11.45834359, 11.19386224,
       15.29596943, 18.3330153 , 18.88063688, 19.00554533, 14.75179365,
       11.4094959 , 16.74447183, 17.79148624])

In [44]:
df['stays_in_weekend_nights'].dtypes

dtype('float64')

In [45]:
df['stays_in_weekend_nights'].isnull().sum()

1951

In [54]:
df['market_segment'].unique()

array([nan, 'Corporate', 'Online TA', 'Direct', 'Offline TA/TO', 'Groups',
       'Complementary', 'Undefined', 'Aviation'], dtype=object)

In [53]:
df['market_segment'].dtypes

dtype('O')